/* main container of the navbar */
.navbarContainer {
    background-color: #E32636;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    font-size: 1.2rem;
    font-weight: 500;
    position: sticky;
    top: 0;
    z-index: 99;
    color: whitesmok;
}

.appName a {
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.appName a:hover {
    font-weight: 800;
}

/* all the navigating links */
.navLinks {
    float: right;
}

/* single link within the navlink */
.navLinks span {
    margin: 0px 10px;
    cursor: pointer;
}

/* styling link */
.navLinks a {
    color: white;
}

/* style on hover over the link */
.navLinks a:hover {
    text-decoration: underline;
}

/* LOGO */
.logo{
    height: 30px;
    position: relative;
    top: 3px
}
